<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FpExtendEntities" connectionString="metadata=res://*/FPDataBaseModel.csdl|res://*/FPDataBaseModel.ssdl|res://*/FPDataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-S3HAA9GHAU7\ZSSY_YBK;initial catalog=ZSSY_FpExtend;persist security info=True;user id=sa;password=sasa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>